@tailwind base;
@layer base {
    img {
        @apply inline-block;
    }
}  
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Plus_Jakarta_Sans', sans-serif;
}

.jakarta {
    font-family: var(--font-montserrat)
}

.captions-words{
    top: 100;
}
aside{
    min-width: 500px;
    max-width: 500px;
    width: 500px;
}


.ant-menu-item{
    padding: 21px;
}

.ant-menu-item-selected {
    background-color: #9730FF !important;
    border-radius: 0.75rem;
}

/* .ant-menu > .ant-menu-item:hover, */
/* .ant-menu > .ant-menu-submenu:hover, */
/* .ant-menu > .ant-menu-item-active, */
/* .ant-menu> .ant-menu-submenu-active, */
/* .ant-menu > .ant-menu-item-open, */
/* .ant-menu> .ant-menu-submenu-open, */
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: white;
  border-radius: 0.75rem;
  padding: 21px;
}

input[id="progress-bar"]{
    border: none;
}